In [1]:
import pandas as pd

In [13]:
spam = pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/Naive-Bayes/main/SpamClassifier-with-ML/sms_spam_data/SMSSpamCollection.csv", header = None, sep= "\t", names=["labels", "messages"])

In [14]:
spam.head()

  labels                                           messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
spam["messages"][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

Since it is a text data the project comes under the NLP problem statements. We call it Natural Language processing Problems. Therefore we are going to see different things that can help us to understand and solve the Natural Languages. The goal is to process the text statements with the help of the algorithms. 
The text classification can be done by naive bayes and svm. Both are suitable for solving for the NLP problems.

In [28]:
import nltk
import re

In [29]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [30]:
from nltk.corpus import stopwords

In [31]:
from nltk.stem.porter import PorterStemmer

In [32]:
ps = PorterStemmer()

In [34]:
spam['messages'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

There many prblems in the datas as u can see commaas Uppercase use , semi colons and apsotropohies. So we need to clean the data. Also we will try to do stemming.
Stemming means finding the root word in message. For example. 
likes, liked, likely, liking so Like is the root word.
same loves, loving, loved, lovely so the root words is love. 

So similarly in messages we need to find the root word. The root word will help me to find the correct context of the message. Or it will point our model towards the correct context of the message.
other option is lemmination - it is aother method to check the content and find the context.

In [65]:
corpus=[]
spam.shape

(5572, 2)

In [66]:
for i in range(0, len(spam)):
    review = re.sub('[^a-zA-Z]', ' ', spam['messages'][i])
    reivew = review.lower()
    review = review.split()
    review = [ps.stem(word) for word in review if not word in stopwords.words("english")]
    review = ' '.join(review)
    corpus.append(review)

stopwords.words("english")
output:
 i',
 'me',
 'my',
 'myself',
 'we',
 'our',
    
this type of things we exclude to get root words.

In [67]:
corpus[0]

'go jurong point crazi avail bugi n great world la e buffet cine got amor wat'

In [68]:
from sklearn.feature_extraction.text import CountVectorizer

In [88]:
cv = CountVectorizer(max_features= 2500)

In [85]:
Y= pd.DataFrame(cv.fit_transform(corpus).toarray(), columns= cv.get_feature_names())
X = cv.fit_transform(corpus).toarray()

D:\Python\ANACONDA\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

Now in above step we are creating the words to vector how we do it. 
for that we use a method knows bag of words (BOW) .
it will on its own create a bag of unique words in the whole dataset. and create vector. 
 To know more here is the best article. However it creates vector base on the number of occurence. which we have stores in pandaframe. all the words in the dataset are presented as columns. and then if sentence have those word we add 1 in place the words place or if absence we put 0 on its place. 
 in Y varaible we have sotred a pd dataframe as unique words as columns name. X is the array.

In [86]:
Y.head()

,account,actual,age,ah,aight,all,alreadi,also,alway,am,...,xxx,ya,ye,yeah,year,yet,yo,you,your,yup
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

as you can see the aa in our first review[0] sentence is not presence has 0 is entred. Also Bow captures frequency so if the word in sentence repeated we will have to add into 1 and the new score will adition that is 2 if it gets repeated again we it will become 3. That how we get a count of each word in a respect to sentences in the list.

In [87]:
X.shape, Y.shape

((5572, 350), (5572, 350))

In [92]:
y = pd.get_dummies(spam['labels'], drop_first=True)

In [94]:
from sklearn.model_selection import train_test_split

In [95]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=10)

In [101]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [99]:
model = GaussianNB()

model.fit(X_train, y_train)

D:\Python\ANACONDA\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [117]:
y_pred= model.predict(X_test)

In [104]:
accuracy_score(y_test, y_pred)

0.6123474515434314

In [105]:
from sklearn.naive_bayes import MultinomialNB

In [106]:
model1 = MultinomialNB()

In [111]:
model1.fit(X_train, y_train)

D:\Python\ANACONDA\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [115]:
y_pred1= model1.predict(X_test)

In [116]:
accuracy_score(y_test, y_pred1)

0.9712849964106246